@use "./../../scss/mixins" as *;

.svj__inner {
	padding: 25px 25px 0 25px;
}
.svj__title {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.svj__link {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 375px;
	background: var(--bg-light-clr);
	border-radius: 25px;
	transition: background-color 0.3s;
	cursor: none;
	overflow: hidden;

	&:hover {
		background: var(--bg-light-darker-clr);
	}

	.svj__video {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.svj__link-icon-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--bg-dark-clr);
	color: #fff;
	width: 50px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	@include grid-center;
	transition: left 0.4s ease-out, top 0.4s ease-out, transform 0.4s ease-out,
		background-color 0.3s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

	svg {
		transition: transform 0.3s;
	}

	&:hover {
		background: var(--bg-dark-darker-clr);

		svg {
			transform: rotate(45deg);
		}
	}
}

@media screen and (max-width: 896px) {
	.svj__inner {
		padding: 25px 10px 0 10px;
	}
}
