.manuals {
	padding: 25px 25px 0;
}

.manuals__title {
	font: {
		size: 1.5rem;
		weight: 500;
	}

	text-transform: uppercase;
}

.manuals-container {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}

.manuals__link {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	color: #000;
	padding: 5px 7.5px;
	border-radius: 15px;
	align-self: center;
	background: var(--accent-clr);
	flex-shrink: 0;

	svg {
		flex-shrink: 0;
	}
}

.manuals-divider {
	height: 3px;
	border-radius: 1.5px;
	background: var(--bg-light-clr);
	margin: 25px 0;
}

@media screen and (max-width: 896px) {
	.manuals {
		padding: 25px 10px 0;
	}
}
