@use "./../../mixins" as *;

.menu {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--bg-light-clr);
    @include glass-effect(20px);
    border-radius: 25px;
    opacity: 0;
    transition: all 1s, opacity 0s 1s;
    overflow: hidden;
}

.menu--active {
    top: 25px;
    right: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    opacity: 1;
    transition: all 1s, opacity 0s;
}

.menu-wrapper {
    opacity: 0;
    transition: all 0.5s;
}

.menu-wrapper--active {
    opacity: 1;
    transition: all 0.5s 1s;
}

.nav {
    display: flex;
    flex-direction: column;
}

.link {
    color: #000;
    font-size: clamp(1.5rem, 3vw, 3rem);
    align-self: flex-start;
}

.menu__contacts-details {
    position: absolute;
    right: 25px;
    bottom: 25px;
    left: 25px;
    display: flex;
    justify-content: space-between;

    p {
        opacity: 0.5;
        margin-bottom: 6.25px;
    }
}

.menu-link {
    color: #000;
}

@media screen and (max-width: 900px) {
    .menu {
        top: 20px;
        right: 20px;
        padding: 10px;
    }

    .menu--active {
        top: 10px;
        right: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }

    .menu__contacts-details {
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
}

@media screen and (max-width: 700px) {
    .menu__contacts-details {
        flex-direction: column;
        row-gap: 6.25px;
    }
}
