@use "./../../scss/mixins" as *;

.contacts {
	display: flex;
	padding: 25px;
	gap: 25px;
}

.contacts-left-container,
.contacts-right-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.contacts-left-container__title,
.contacts-right-container__title {
	text-transform: uppercase;

	font: {
		size: 1.5rem;
		weight: 500;
	}
}

form {
	background: var(--bg-light-clr);
	display: flex;
	flex-direction: column;
	gap: 12.5px;
	padding: 25px;
	border-radius: 25px;
	flex-grow: 1;
}

.input-container {
	display: flex;
	gap: 12.5px;
}

input {
	background: #fff !important;
	width: 100%;
	padding: 25px;
	border-radius: 25px;
	font-size: 1rem;
	transition: background-color 0.3s;
}

.email--correct {
	background: rgb(228, 255, 187) !important;
}

.email--incorrect {
	background: rgb(255, 218, 218) !important;
}

textarea {
	background: #fff !important;
	padding: 25px;
	border-radius: 25px;
	height: 140px;
	resize: none;
	font-size: 1rem;
	flex-grow: 1;

	&:focus {
		outline: none;
	}
}

.form-btn {
	@include flex-center;
	background: var(--bg-dark-clr);
	color: #fff;
	height: 50px;
	border-radius: 25px;
	padding: 12.5px;
	align-self: flex-end;
	margin-top: auto;
	// TODO:
	font-weight: inherit;
	transition: background-color 0.3s;

	svg {
		transition: transform 0.3s;
	}

	&:hover {
		background: var(--bg-dark-darker-clr);

		svg {
			transform: rotate(45deg);
		}
	}
}

.contact-details-container {
	background: var(--bg-light-clr);
	display: flex;
	flex-direction: column;
	row-gap: 12.5px;
	padding: 25px;
	border-radius: 25px;
	flex-grow: 1;
}

.contact-details {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	row-gap: 6.25px;
}

.contact-details__title {
	color: var(--gray-clr);
}

.contact-details__link {
	color: #000;
	padding: 5px 7.5px;
	border-radius: 15px;

	&:hover {
		background: var(--accent-clr);
	}
}

.contacts__copy-btn {
	position: relative;
	padding: 5px 7.5px;
	border-radius: 15px;

	&:hover {
		background: var(--accent-clr);
	}
}

.working-hours__list {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 6.25px;
}

.working-hours__item {
	display: flex;
	justify-content: space-between;
	padding: 5px 7.5px;
	border-radius: 15px;
}

.working-hours__item--active {
	background: var(--accent-clr);
}

@media screen and (max-width: 1000px) {
	.contacts {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 896px) {
	.page-title__title {
		bottom: 10px;
		left: 10px;
	}

	.contacts {
		padding: 25px 10px;
	}

	.contact-details-container {
		padding: 12.5px;
	}

	form {
		padding: 12.5px;
	}
}

@media screen and (max-width: 500px) {
	.input-container {
		flex-direction: column;
	}
}
