.process__title {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 125px 0 25px;
}

.process-grid {
    display: flex;
    gap: 25px;
}

.process-card {
    position: relative;
    background: var(--bg-light-clr);
    padding: 25px;
    border-radius: 25px;
    flex-basis: 100px;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background: var(--bg-light-darker-clr);
    }
}

.process-card--active {
    flex-grow: 1;
}

.details-wrapper {
    opacity: 0;
    pointer-events: none;

    p:nth-child(1) {
        font-weight: 500;
        font-size: 1.5rem;
    }

    p:nth-of-type(2) {
        text-align: justify;
    }
}

.details-number {
    width: 50px;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    background: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    border-radius: 12.5px;
}

.details-wrapper--active {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s 0.3s;
}

.process-divider {
    height: 2.5px;
    width: 25%;
    background: var(--bg-dark-clr);
    margin: 10px 0;
}

.divider {
    height: 2.5px;
    background: var(--bg-light-clr);
    margin-top: 25px;
}

.process__icon {
    position: absolute;
    bottom: 35px;
    right: 35px;
    transition: all 0.3s;
}

.process__icon--active {
    transform: rotate(45deg);
}

@media screen and (max-width: 1200px) {
    .process-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

// 1125 + (10px of scrollbar width)

@media screen and (max-width: 1135px) {
    .process-grid {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .process-card {
        background: var(--bg-light-clr);
        padding: 25px;
        border-radius: 25px;
        flex-basis: 100px;
        overflow: hidden;
        height: 400px;
        transition: all 0.3s;
    }

    .process-card--active {
        flex-grow: 1;
        flex-basis: 400px;
    }
}

@media screen and (max-width: 800px) {
    .process__title {
        padding: 80px 0 10px;
    }
}
