@use "./../../scss/mixins" as *;

.process__title {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	padding: 25px 0 25px;
}

.process-grid {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.process-card {
	display: flex;
	flex-direction: column;
	gap: 12.5px;
	background: var(--bg-light-clr);
	padding: 25px;
	border-radius: 25px;
	overflow: hidden;
	min-height: 100px;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		background: var(--bg-light-darker-clr);
	}
}

.process-card__title {
	font: {
		size: 1.25rem;
		weight: 500;
	}
}

.process-card__step {
	@include flex-between-center;
	gap: 5px;

	span {
		position: relative;
		height: 15px;
		width: 100%;
		background: white;
		border-radius: 7.5px;
		overflow: hidden;
		transition: all 0.3s;
	}
}

.step::before {
	content: attr(data-step-value);
	position: absolute;
	color: transparent;
	display: grid;
	place-content: center;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: left;
	background: var(--accent-clr);
	transition: all 0.3s;
}

.step--active::before {
	transform: scaleX(1);
}

.process-card:hover .process-card__step > span {
	height: 30px;
}

.process-card:hover .process-card__step > .step--active::before {
	color: #000;
	transition: all 0.3s;
}

.details-number {
	width: 50px;
	aspect-ratio: 1/1;
	@include grid-center;
	background: #fff;
	font-weight: 500;
	border-radius: 12.5px;
}

.process-card__details {
	text-align: justify;
}

.process-card__price {
	align-self: flex-start;
	border-radius: 15px;
	padding: 5px 7.5px;
	background: var(--accent-clr);
}

@media screen and (max-width: 896px) {
	.process-card {
		padding: 12.5px;
	}

	.process-card__header {
		margin-bottom: 12.5px;
	}
}
