@use "./../../scss/mixins" as *;

.burger-btn-wrapper {
	display: none;
	place-content: center;
	width: 50px;
	aspect-ratio: 1/1;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s;
	opacity: 0;
	animation: revealHeader 1s 2s forwards;

	&:hover {
		background: var(--bg-light-darker-clr);
	}
}

@keyframes animateHeader {
	to {
		opacity: 1;
	}
}

.burger-btn {
	position: relative;
	width: 30px;
	padding: 15px 0;
	@include flex-center;
	cursor: pointer;
}

.burger-btn::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background: #000;
	transform: translateY(-7.5px);
	transition: all 0.3s;
}

.burger-btn__center-line {
	position: absolute;
	width: 100%;
	height: 1.5px;
	background: #000;
	transition: all 0.3s;
}

.burger-btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background: #000;
	transform: translateY(7.5px);
	transition: all 0.3s;
}

.burger-btn--active::before {
	transform: translateY(0);
	rotate: -135deg;
}

.burger-btn__center-line--active {
	rotate: -180deg;
	opacity: 0;
}

.burger-btn--active::after {
	transform: translateY(0);
	rotate: -225deg;
}

@media screen and (max-width: 896px) {
	.burger-btn-wrapper {
		display: grid;
	}
}
