@use "./../../mixins" as *;

.burger-btn-wrapper {
    background: var(--bg-dark-clr);
    @include glass-effect(20px);
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    @include grid-center;
    opacity: 0;
    animation: animateHeader 1s 2s forwards;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

@keyframes animateHeader {
    to {
        opacity: 1;
    }
}

.burger-btn {
    position: relative;
    width: 30px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent 50%, #ffffff 50%);
    transform: translate(-15px, -7.5px);
    transition: transform 0.3s;
}

.burger-btn__center-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: transform 0.3s;
}

.burger-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    transform: translate(15px, 7.5px);
    transition: transform 0.3s;
}

.burger-btn--active::before {
    transform: translate(0px, 0px) rotate(-135deg);
}

.burger-btn__center-line--active {
    transform: rotate(-45deg);
}

.burger-btn--active::after {
    transform: translate(0px, 0px) rotate(-135deg);
}
