@use "./../../mixins" as *;

.divider {
    height: 2.5px;
    background: var(--bg-light-clr);
    margin-top: 125px;
}

.advantages {
    display: flex;
}

.advantages-title-container {
    width: 100%;

    h2 {
        font: {
            size: 1.5rem;
            weight: 500;
        }

        text-transform: uppercase;
    }
}

.advantages-list {
    width: 100%;
}

.advantages-item {
    border-bottom: 2.5px solid var(--bg-light-clr);
    padding: 12.5px 0;
}

.advantages-btn {
    width: 100%;
    @include flex-between-center;
    padding: 5px 0;
}

.advantages-btn-title {
    font: {
        size: 1.25rem;
        weight: 500;
    }
}

.advantages-btn-icon-container {
    background-color: var(--bg-light-clr);
    width: 40px;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.advantages-btn:hover .advantages-btn-icon-container {
    background-color: var(--bg-light-darker-clr);
}

.advantages-btn-icon {
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.advantages-btn-icon--active {
    transform: rotate(225deg);
}

.dd-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.dd-wrapper--active {
    grid-template-rows: 1fr;
}

.dd-details {
    text-align: justify;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .divider {
        height: 2.5px;
        background: var(--bg-light-clr);
        margin-top: 80px;
    }

    .advantages {
        flex-direction: column;
    }

    .advantages-title-container {
        justify-content: flex-start;
        margin: 10px 0;
    }
}