.link-effect {
    position: relative;
}

.link-effect::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 1.25px;
    background: #000;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

.link-effect:hover::before {
    transform: scaleX(1);
}

.link-effect--active::before {
    transform: scaleX(1) !important;
}
