@use "./../../scss/mixins" as *;

.home {
	padding: 0 25px;
}

.home-top {
	position: relative;
	height: calc(100svh - 20px);
	border-radius: 25px;
	overflow: hidden;
	scale: 0.25;
	animation: animateHomeTitle 2s forwards;
	animation-timing-function: cubic-bezier(0.75, 0.5, 0.25, 1);
}

@keyframes animateHomeTitle {
	100% {
		scale: 1;
	}
}

.home-top__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	scale: 2;
	animation: animateBgImg 2s forwards;
	animation-timing-function: cubic-bezier(0.75, 0.5, 0.25, 1);
}

@keyframes animateBgImg {
	100% {
		scale: 1;
	}
}

.loading__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: clamp(1.5rem, 4vw, 4rem);
	font-weight: 500;
	color: #fff;
	width: 100%;
	@include flex-center;
	column-gap: 5px;
	pointer-events: none;
	opacity: 0;
	animation: animateLoadingTitle 2s forwards;
}

@keyframes animateLoadingTitle {
	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.home-top__details-container {
	position: absolute;
	right: 10px;
	bottom: 10px;
	left: 10px;
	@include flex-between-end;
	gap: 10px;
}

.home-top__details {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	row-gap: 10px;
}

.home-top__title {
	border-radius: 25px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 12.5px;
	background: var(--bg-light-clr);
	@include glass-effect(20px);
	justify-self: flex-start;
	color: #fff;
	font-size: clamp(1.25rem, 2vw, 1.5rem);
	font-weight: 500;
	opacity: 0;
	animation: animateTitle 1s 2s forwards;
}

.home-top__sec-title {
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	border-radius: 25px;
	padding: 0 12.5px;
	background: var(--bg-light-clr);
	@include glass-effect(20px);
	justify-self: flex-start;
	color: #fff;
	font-size: clamp(1.25rem, 2vw, 1.5rem);
	opacity: 0;
	animation: animateTitle 1s 2s forwards;
}

.home-top__info {
	color: #fff;
	font-size: clamp(2rem, 4vw, 4rem);
	font-weight: 600;
	opacity: 0;
	animation: animateTitle 1s 2s forwards;
}

.home-top__link-container {
	flex-shrink: 0;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	row-gap: 10px;
}

.home-top__link {
	@include flex-center;
	column-gap: 5px;
	background: var(--bg-light-clr);
	color: #fff;
	@include glass-effect(20px);
	white-space: nowrap;
	border-radius: 25px;
	padding: 12.5px;
	height: 50px;
	opacity: 0;
	animation: animateTitle 1s 2s forwards;
	transition: background-color 0.3s;

	&:hover {
		background: var(--bg-light-lighter-clr);
	}
}

.home-top__link-icon {
	height: 100%;
	flex-shrink: 0;
	transition: all 0.3s;
}

.home-top__link:hover .home-top__link-icon {
	transform: rotate(45deg);
}

@keyframes animateTitle {
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 800px) {
	.home-top__details-container {
		display: flex;
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	.home-top__link-container {
		align-items: flex-start;
	}
}

@media screen and (max-width: 896px) {
	.home {
		padding: 0 10px;
	}
}
