@use "./../../mixins" as *;

.components {
    padding: 0 25px 25px;
}

.components-container {
    // min-height: 500px;
}

.components-container__title {
    position: sticky;
    top: 0;
    padding-top: 170px;
    padding-bottom: 25px;
}

.components__title {
    font-size: 1.5rem;
    font-weight: 500;
    background: var(--bg-light-clr);
    height: 50px;
    border-radius: 25px;
    @include grid-center;
    @include glass-effect(20px);
    color: #000;
}

.inverter-container {
    @include flex-center;
}

.inverter-title {
    font-size: 1.5rem;
    font-weight: 500;
}

@media screen and (max-width: 896px) {
    .components {
        padding: 0 10px 10px;
    }

    .components-container__title {
        padding-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .inverter-container {
        flex-direction: column;
    }
}