@use "./../../mixins" as *;

.divider {
	height: 3px;
	border-radius: 1.5px;
	background: var(--bg-light-clr);
	margin: 25px 0;
}

.components {
	padding: 0 25px;
}

.components-container {
	scroll-margin-top: 145px;
}

.components-container__title {
	position: sticky;
	top: 145px;
	z-index: 10;
	padding: 25px 0;
}

.components__title {
	font-size: 1.5rem;
	font-weight: 500;
	background: var(--bg-light-clr);
	height: 50px;
	border-radius: 25px;
	padding: 0 12.5px;
	display: flex;
	align-items: center;
	@include glass-effect(20px);
	color: #000;
}

.inverter-container {
	@include flex-start-center;
	gap: 50px;
}

.swiper-container {
	width: 500px;
}

// Swiper
.swiper-button-prev,
.swiper-button-next {
	color: var(--bg-dark-clr) !important;
	transition: color 0.3s;

	&:hover {
		color: var(--bg-dark-darker-clr) !important;
	}
}

.swiper-pagination-bullet {
	background: var(--bg-light-darker-clr) !important;
	opacity: 1 !important;
	transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
	background: var(--bg-dark-darker-clr) !important;
}

.inverter-title {
	font-size: 1.5rem;
	font-weight: 500;
}

.component-list {
	li {
		list-style: inside !important;
	}
}

@media screen and (max-width: 1000px) {
	.inverter-container {
		flex-direction: column;
	}
}

@media screen and (max-width: 896px) {
	.components {
		padding: 0 10px;
	}

	.components-container__title {
		top: 55px;
	}

	.components-container {
		scroll-margin-top: 55px;
	}
}

@media screen and (max-width: 540px) {
	.swiper-container {
		width: 100%;
	}
}
