@use "./../../mixins" as *;

.header {
    position: fixed;
    top: 50px;
    right: 50px;
    left: 50px;
    z-index: 11;
}

.header--hide {
    top: -50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 10px;
}

.header-top__logo-container {
    height: 50px;
    @include flex-center;
    column-gap: 5px;
    border-radius: 25px;
    background: var(--bg-dark-clr);
    padding: 0 12.5px;
    @include glass-effect(20px);
    opacity: 0;
    animation: animateHeader 1s 2s forwards;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    img {
        height: 25px;
    }

    span {
        font-size: 1.5rem;
    }
}

// When i apply animation for header blur dissapears so i apply it to children

@keyframes animateHeader {
    to {
        opacity: 1;
    }
}

.header-top__number {
    height: 50px;
    background: var(--bg-dark-clr);
    @include grid-center;
    @include glass-effect(20px);
    padding: 0 12.5px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 25px;
    color: #fff;
    opacity: 0;
    animation: animateHeader 1s 2s forwards;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.header-bottom {
    position: relative;
    min-height: 50px;
    background: var(--bg-dark-clr);
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
}

.nav {
    position: relative;
    padding: 0 12.5px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    border-radius: 25px;
    overflow-x: scroll;
}

.nav::-webkit-scrollbar {
    display: none;
}

.link {
    white-space: nowrap;
    height: 100%;
    @include grid-center;
}

.dd-container {
    position: relative;
    &:hover .dd {
        opacity: 1;
        pointer-events: all;
    }
}

.dd {
    position: absolute;
    left: 50px;
    z-index: 1000;
    background: var(--bg-dark-clr);
    border-radius: 25px;
    padding: 12.5px;
    width: calc(100% - 100px);
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .header {
        top: 20px;
        right: 20px;
        left: 20px;
    }

    .header--hide {
        top: -50px;
    }

    .header-top__number {
        margin-right: 10px;
    }

    .dd {
        left: 20px;
        z-index: 100;
        background: var(--bg-dark-clr);
        border-radius: 25px;
        padding: 12.5px;
        width: calc(100% - 40px);
    }
}
