@use "./../../mixins" as *;

.header {
    position: fixed;
    top: 50px;
    right: 50px;
    left: 50px;
    z-index: 11;
}

.header--hide {
    top: -50px;
}

.header-top {
    display: flex;
    align-items: flex-start;
    // color: #fff;
}

.header-top__logo {
    height: 50px;
    @include flex-center;
    color: #fff;
    column-gap: 5px;
    border-radius: 25px;
    background: var(--bg-dark-clr);
    padding: 0 12.5px;
    @include glass-effect(20px);
    opacity: 0;
    animation: animateHeader 1s 2s forwards;
    transition: background-color 0.3s;

    &:hover {
        background: var(--bg-dark-darker-clr);
    }

    img {
        height: 25px;
    }

    span {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

// When i apply animation for header blur dissapears so i apply it to children

@keyframes animateHeader {
    to {
        opacity: 1;
    }
}

.header-top__nav {
    height: 50px;
    background: var(--bg-dark-clr);
    @include flex-center;
    gap: 25px;
    @include glass-effect(20px);
    padding: 0 12.5px;
    border-radius: 25px;
    margin-left: 25px;
    opacity: 0;
    animation: animateHeader 1s 2s forwards;
}

.header__link {
    position: relative;
    color: #fff;
}

.header__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 25%;
    height: 1.25px;
    background: #fff;
    transition: all 0.3s;
}

.header__link--active::before {
    transform: translateX(-50%) scaleX(1);
}

.header__link:hover::before {
    transform: translateX(-50%) scaleX(1);
}

.header-top__number {
    height: 50px;
    background: var(--bg-dark-clr);
    @include grid-center;
    @include glass-effect(20px);
    padding: 0 12.5px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: auto;
    color: #fff;
    opacity: 0;
    animation: animateHeader 1s 2s forwards;
    transition: background-color 0.3s;

    &:hover {
        background: var(--bg-dark-darker-clr);
    }
}

.header-bottom {
    position: relative;
    min-height: 50px;
    background: var(--bg-dark-clr);
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .header {
        top: 20px;
        right: 20px;
        left: 20px;
    }

    .header--hide {
        top: -50px;
    }

    .header-top__number {
        margin-left: 10px;
    }

    .header-top__nav {
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .header-top__nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-top__number {
        display: none;
    }
}
