@use "./../../mixins" as *;

.our-installation {
    padding: 25px;
}

.our-installation__title {
    padding-bottom: 25px;
}

.our-installation__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.our-installation__card-wrapper {
    display: flex;
    flex-direction: column;
}

.our-installation__card {
    position: relative;
    flex-grow: 1;

    img {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
        cursor: pointer;
    }

    .our-installation__card-date-info {
        position: absolute;
        top: 0px;
        right: 0px;
        background: var(--accent-clr);
        height: 50px;
        min-width: 50px;
        padding: 0 12.5px;
        border-radius: 20px;
        display: grid;
        place-content: center;
        grid-template-columns: 0fr;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.5s;
        z-index: 0;
    }

    span {
        overflow: hidden;
        opacity: 0;
    }
}

.our-installation__card-info {
    position: relative;
    z-index: 0;
    margin-top: 10px;
    background: var(--accent-clr);
    height: 50px;
    min-width: 50px;
    padding: 0 12.5px;
    border-radius: 20px;
    @include grid-center;
    grid-template-columns: 0fr;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.5s;
}

.white-el {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border-radius: 0 0 0 20px;
    width: 60px;
    height: 60px;
    background: #fff;
    transition: all 0.5s;
}

.white-el::before {
    content: "";
    position: absolute;
    width: 60px;
    aspect-ratio: 1/1;
    top: 0;
    right: 100%;
    border-radius: 0 20px 0 0;
    box-shadow: 25px -25px #fff;
    pointer-events: none;
}

.white-el::after {
    content: "";
    position: absolute;
    width: 60px;
    aspect-ratio: 1/1;
    top: 100%;
    right: 0;
    border-radius: 0 20px 0 0;
    box-shadow: 25px -25px #fff;
    pointer-events: none;
}

.our-installation__card:hover .our-installation__card-date-info {
    grid-template-columns: 1fr;
}

.our-installation__card:hover span {
    opacity: 1;
    transition: all 0.5s 0.5s;
}

.our-installation__card:hover .white-el:nth-last-of-type(1) {
    width: calc(185.29px + 10px);
}

.full-screen-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    @include flex-between-center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    @include glass-effect(20px);
    padding: 0 25px;
}

.full-screen-header {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    @include flex-end-center;
}

.full-screen-footer {
    @include flex-end-center;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
}

.full-screen-image {
    height: calc(100% - 100px);
    object-fit: contain;
    object-position: center;
}

.full-screen__close-btn {
    width: 25px;
}

.full-screen__btn {
    width: 25px;
}

.full-screen__btn--hide {
    display: none;
}

@media screen and (max-width: 1200px) {
    .our-installation__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .our-installation {
        padding: 10px;
    }

    .our-installation__grid {
        gap: 25px;
    }

    .our-installation__title {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    // Full screen slider

    .full-screen-div {
        padding: 0 10px;
    }
}

@media screen and (max-width: 700px) {
    .our-installation__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
