@use "./../../mixins" as *;

.building {
    position: fixed;
    top: 25px;
    // right: 25px;
    // bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    // height: 500px;
    z-index: 1000;
    padding: 25px;
    border-radius: 25px;
    background: var(--bg-dark-clr);
    @include glass-effect(20px);
    @include flex-center;
    flex-direction: column;
    row-gap: 25px;
    text-align: center;
    color: #fff;
    font-size: clamp(1rem, 4vw, 2rem);
    opacity: 0;
    pointer-events: none;
    animation: animateBuilding 1s 3s forwards;
}

@keyframes animateBuilding {
    to {
        opacity: 1;
        pointer-events: all;
    }
}

.building__btn {
    background: rgba(230, 230, 230, 0.5);
    padding: 12.5px;
    border-radius: 25px;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 896px) {
    .building {
        width: 300px;
    }
}