@use "./../../mixins" as *;

.footer-divider {
    height: 2.5px;
    background: var(--bg-light-clr);
    margin: 0 25px;
}

.footer {
    position: relative;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
}

.footer-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.footer-top__logo {
    @include flex-center;
    column-gap: 5px;

    img {
        width: 50px;
    }

    span {
        font: {
            size: 2rem;
            weight: 500;
        }

        color: #000;
    }
}

.footer-top__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 6.25px;

    p {
        color: var(--bg-dark-darker-clr);
    }
}

.footer-top__nav-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-top__contact-details {
    display: flex;
    flex-direction: column;
    gap: 25px;

    li {
        display: flex;
        flex-direction: column;
        row-gap: 6.25px;

        span {
            color: var(--bg-dark-darker-clr);
        }

        a {
            color: #000;
        }
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;

    p,
    span {
        color: var(--bg-dark-darker-clr);
    }
}

.creator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-link {
    color: #000;
}

.footer__link {
    position: relative;
    color: #000;
}

.footer__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25%;
    height: 1.25px;
    background: #000;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    transition: transform 0.3s;
}

.footer__link:hover::before {
    transform: translateX(-50%) scaleX(1);
}

.footer__link--active::before {
    transform: translateX(-50%) scaleX(1);
}

.footer-bottom__logo-img {
    pointer-events: none;
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 25px 10px;
    }
}
