@use './../../mixins' as *;

.mission {
    display: flex;
    gap: 25px;
}

.mission__title {
    font: {
        size: 1.5rem;
        weight: 500;
    }

    padding: 25px 0;
}

.mission-card {
    width: 60%;
    height: 250px;
    background: var(--bg-dark-clr);
    color: #fff;
    border-radius: 25px;
    padding: 25px;

    &:nth-child(1) {
        width: 40%;
        background: var(--bg-light-clr);
        color: #000;
    }
}

.mission-card__icon-container {
    width: 50px;
    aspect-ratio: 1/1;
    background: #fff;
    border-radius: 12.5px;
    @include grid-center;
    margin-bottom: 25px;

    img {
        width: 37.5px;
    }
}

.mission-card__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

@media screen and (max-width: 896px) {
    .mission {
        flex-direction: column;
    }

    .mission-card {
        width: 100% !important;
    }
}