:root {
    --bg-dark-clr: rgba(25, 25, 25, 0.75);
    --bg-dark-darker-clr: rgba(0, 0, 0, 0.75);
    --bg-dark-lighter-clr: rgba(50, 50, 50, 0.75);
    --bg-light-clr: rgba(230, 230, 230, 0.5);
    --bg-light-darker-clr: rgba(205, 205, 205, 0.5);
    --bg-light-lighter-clr: rgba(255, 255, 255, 0.5);

    --padding-full: 25px;
    --padding-half: 12.5px;
    --accent-clr: rgb(195, 242, 114);
}
